body {
  margin-left: auto;
  margin-right: auto;
}

.title{
  text-align: center;
}
h2 {
    font-family: 'IBM Plex Sans', sans-serif;
    font-style: bold;
    font-size: 32px;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;

}

h4{
    font-family: 'IBM Plex Sans', sans-serif;
    font-style: italic;
    font-size: 20px;
    margin-top: 30px;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.caption{
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 12px;
  display: block;
  margin-left: 15px;
  margin-bottom: 20px;
}

.image{
  margin-top: 15px;
  margin-bottom: -6px;
}

.map {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;

}

.byline {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    font-size: 15px;
    margin-top: 40px;
    margin-bottom: 30px;
}

.bodyparagraph {
    font-family: 'Cabin', sans-serif;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
    font-size: 20px;
}


@media (max-width: 500px ) {

	body {
		padding: 0px 15px;

	}

}
